<html ng-app="taskcounter">
  <head>
    <title>Todo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <!-- <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script> -->
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div ng-controller="TodoListController">
      <span>Completed tasks: {{ completedTasks() }}/{{ todoList.length }}.</span>
      <span>Time ellapsed: {{ ellapsedTaskTime | date: "HH:mm:ss" }}/{{ totalTime() | date: "HH:mm:ss" }}</span>
      <button ng-click="startTasks()">Start</button>
      <button ng-click="pauseTasks()">{{ pauseResume }}</button>
      <span>You will finish your tasks at: {{ finalTasksTime | date: "HH:mm:ss" }}</span>
        <table>
          <thead>
            <tr>
              <th>Status</th>
              <th>Chore</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="todo in todoList">
              <!-- <td><input type="checkbox" ng-model="todo.done"></td> -->
              <td>{{ todo.status }}</td>
              <td class="done-{{todo.done}}">{{ todo.task }}</td>
              <td class="done-{{todo.done}}">{{ todo.decreasingTime | date: "HH:mm:ss" }}</td>
              <td class="done-{{todo.done}}">/{{ todo.time | date: "HH:mm:ss" }}</td>
              <td>
                <button ng-click="doneTask($index)">Done</button>
                <button ng-click="skipTask($index)">{{ todo.btnSkip }}</button>
                <button ng-click="delTask($index)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <form class="form-inline" name="formItem">
          <input type="text" ng-model="todo.task">
          <!-- <input type="text" ng-model="todo.time"> -->
          <select id="hours" ng-model="hour">
            <option ng-repeat="hour in hours">{{ hour }}</option>
          </select> 
          <select id="minutes" ng-model="minute">
            <option ng-repeat="minute in minutes">{{ minute }}</option>
          </select>
          <button ng-click="addTask()">Add task</button>
        </form>
    </div>
  </body>
</html>